# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Hugging Face
.cache/
huggingface/

# Model files
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

# Logs
logs/
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS
Thumbs.db